body {
	color: black;
	font-family: Courier New;
	background: #f4f4f4;
	font-weight:400;
    line-height:1.8em;
	margin: 0 50px 0 50px;
}
body, html{
	height:100%;
}
a {
	text-decoration: none;
}
.hd{
	padding: 55px;
}
.header {
    position: fixed;
    right: 50px;
    width: 100%;
    top:0;
    left: 0;
    display: grid;
    justify-content: none;
    align-items: center;
    z-index: 1;
    text-align: center; 
}
.button{
	background: #ffd6b1; 
	color: black;
	padding: 10px 20px;
	transition: all .5s ease-out;
}
.button:hover{
	background: #aad4ec;
	color: black; 
}
#main-menu {
	padding: 15px;
	margin: 0;
	text-align: center;
	list-style: none;    
	display: grid;       
	grid-gap: 15px;          
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr ;
	width: 98%;
	background: #f4f4f4;
}
.cover{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;  
	z-index: 0;
	min-height: 100%;
	background-image: url(../images/rocket.jpg);
	margin-bottom: 15px;
}
.loka{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color: black;
	font-size: 60px;
	letter-spacing:8px;
	text-transform:uppercase;
}
.border{
	background-color: #aad4ec;
	padding: 30px;
	opacity: 0.6;
}
.article{
	padding: 0px;
	margin-bottom: 50px;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 2fr 1fr;
	background: #f4f4f4;
}
.article-left{
	padding: 0px;
	background: #f4f4f4;
	display: grid;
	grid-gap: 2px;
	grid-template-rows: 1fr;
	color: #414040;
	text-align: center;
	height: 0%;
}
.inside1{
	margin-bottom: 0px;

}
#we{
	font-size: 45px;
	letter-spacing: 20px;
}
.about{
	background: #ffd6b1;
	font-size: 20px;
}
#paragraph{
	font-size: 18px;
}
.article-right{
	color: #414040;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.img1{
	/*background: #f4f4f4;*/
}
.img1:hover{
	opacity: 0.8;
	transition: all .5s ease-out;
}
#img1{
	box-shadow: 0 0 10px black;
	padding: 10px;
}
.img2{
	/*background: #f4f4f4;*/
}
.img2:hover{
	opacity: 0.8;
	transition: all .5s ease-out;
}
#img2{
	box-shadow: 0 0 10px black;
	padding: 10px;
}
.img3{
	/*background: #f4f4f4;*/
}
.img3:hover{
	opacity: 0.8;
	transition: all .5s ease-out;
}
#img3{
	box-shadow: 0 0 10px black;
	padding: 10px;
}
.meet{
	text-align: center;
	font-size:30px;
	letter-spacing: 20px;
	background: #aad4ec;
	padding: 10px;
	margin-top: 180px;
	margin-bottom: 80px;
}
.team{
	display: grid;
	grid-template-columns:  1fr 1fr 1fr;
	grid-gap: 5px;
	grid-template-rows: 1fr 1fr;
	padding: 0px;
	background: #f4f4f4;
}
.mee{
	position: relative;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: 0 0 10px black;*/
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 5px;
}
.name{
	text-align: center;
}
#mee{
	box-shadow: 0 0 10px black;
}
.gisyl{
	position: relative;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;  
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 5px;
}
.king{
	position: relative;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;  
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 5px;
}
.sittie{
	position: relative;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;  
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 5px;
}
.ruby{
	position: relative;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;  
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 5px;
}
.footer{
	background-color: #5d7e72;
	text-align: center;
	margin-top: 100px;
	
}
